* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.container {
  width: 1180px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
